{% block content %}
    <centre>
        <table border="1px">
            <tr>
                {% for position in positions %}
                    <th>
                        {{ position }} {{ employeeCommissionPercent['position'] }}
                    </th>
                {% endfor %}
                <th>Profit for each sale</th>
            </tr>
            {% for product in product_list %}
                <tr>
                    <th>{{ product }}</th>
                    {% for value in commission_values %}
                        {{ value }}
                    {% endfor %}
                    {{ profit_per_sale[product.name] }}
                </tr>
            {% endfor %}
            <tr>
                Total Commission: {{ total_commission }}
            </tr>
            <tr>
                Net Profit: {{ net_profit }}
            </tr>
        </table>
    </centre>
{% endblock %}